.nav-header {
  position: relative;
  padding: 2rem;
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
}

.extra-div {
  position: absolute;
  background-color: var(--extra-div-bg-color);
  top: 0;
  right: 0;
  height: 44%;
  width: 34%;
}

.show {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--navbar-font-color);
  align-items: center;
  z-index: 5;
  background-color: #dedede;
  padding: 2rem;
  backdrop-filter: blur(8px);
  filter: opacity(0.9);
  animation: show 0.5s ease-in-out;
}

@keyframes show {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.hide {
  display: none;
}

.nav-content-title {
  font-weight: 100;
}

.nav-content a {
  text-decoration: none;
  color: var(--navbar-font-color);
}

.ham-burger {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  width: 8%;
  position: relative;
  cursor: pointer;
  height: 1rem;
}

.ham-lines-1,
.ham-lines-2 {
  height: 2.5px;
}

.ham-lines-1 {
  background-color: var(--hover-font-color);
}

.ham-lines-2 {
  background-color: #000;
}

@media only screen and (min-width: 361px) {
  .extra-div {
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 391px) {
  .nav-header {
    justify-content: center;
  }
  .show {
    top: 0;
    justify-content: center;
  }

  .nav-content {
    gap: 3rem;
  }

  .ham-burger {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .ham-burger {
    width: 2.5%;
  }

  .nav-header {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .nav-content {
    display: flex;
    flex-direction: row;
  }

  .nav-content-title:hover {
    cursor: pointer;
  }

  .extra-div {
    width: 17%;
    height: 60%;
  }

  .bg-color {
    background-color: #dedede;
    backdrop-filter: blur(8px);
    filter: opacity(0.9);
  }
}

@media only screen and (min-width: 1024px) {
  .nav-content {
    gap: 4.5rem;
  }

  .extra-div {
    width: 20%;
    height: 40rem;
  }
}
