:root {
  --button-bg-color: #000;
  --button-text-color: #fff;
  --extra-div-bg-color: #d0d0d0;
  --extra-font-color: #7b7b7b;
  --hover-font-color: #ff6230;
  --navbar-font-color: #373737;
  --button-border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  color: #000;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
  padding: 1rem;
}